---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Us" description="Pagina de plantas construida con react y astro, diseño ux/ui">
	<main>
		<h1>Nosotros</h1>
	</main>
</Layout>

<style>
	
</style>
